In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('/home/will/sa_rain.csv', header=None)

In [11]:
df.columns = ['year', 'rain']

In [20]:
decade = sorted([i for i in range (1890,2010,10)] * 10)

In [21]:
df['decade'] = decade

In [22]:
df

     year   rain  decade
0    1890  29.85    1890
1    1891  30.04    1890
2    1892  25.71    1890
3    1893  18.24    1890
4    1894  21.80    1890
5    1895  26.07    1890
6    1896  34.09    1890
7    1897  15.92    1890
8    1898  22.49    1890
9    1899  19.65    1890
10   1900  37.19    1900
11   1901  16.44    1900
12   1902  24.79    1900
13   1903  33.11    1900
14   1904  29.38    1900
15   1905  32.59    1900
16   1906  20.42    1900
17   1907  22.77    1900
18   1908  28.52    1900
19   1909  14.92    1900
20   1910  16.22    1910
21   1911  18.68    1910
22   1912  23.73    1910
23   1913  37.68    1910
24   1914  34.09    1910
25   1915  27.28    1910
26   1916  27.66    1910
27   1917  10.13    1910
28   1918  29.91    1910
29   1919  50.30    1910
..    ...    ...     ...
90   1980  24.23    1980
91   1981  36.37    1980
92   1982  22.96    1980
93   1983  26.11    1980
94   1984  25.95    1980
95   1985  41.43    1980
96   1986  42.73    1980
97   1987  37.96    1980
98   1988  19.01    1980
99   1989  22.14    1980
100  1990  38.31    1990
101  1991  42.76    1990
102  1992  46.49    1990
103  1993  32.00    1990
104  1994  40.43    1990
105  1995  23.20    1990
106  1996  17.80    1990
107  1997  33.92    1990
108  1998  42.03    1990
109  1999  16.41    1990
110  2000  35.86    2000
111  2001  36.72    2000
112  2002  46.27    2000
113  2003  38.45    2000
114  2004  45.33    2000
115  2005  16.54    2000
116  2006  21.34    2000
117  2007  47.25    2000
118  2008  13.76    2000
119  2009  30.68    2000

[120 rows x 3 columns]

In [24]:
df_mean = df.groupby('decade').mean()

In [25]:
a = df_mean.loc[:, 'rain']

In [26]:
tot_mean = 28.757

120

In [28]:
b = a - tot_mean

In [30]:
b / df_mean.loc[:, 'rain']

decade
1890   -0.179242
1900   -0.105486
1910   -0.043130
1920   -0.121087
1930   -0.050100
1940    0.062343
1950   -0.162651
1960   -0.027293
1970    0.160183
1980    0.037873
1990    0.137333
2000    0.134347
Name: rain, dtype: float64

In [31]:
np.std(df.loc[:, 'rain'])

9.13569039498688

In [32]:
b / tot_mean

decade
1890   -0.151998
1900   -0.095420
1910   -0.041346
1920   -0.108008
1930   -0.047710
1940    0.066488
1950   -0.139896
1960   -0.026567
1970    0.190736
1980    0.039364
1990    0.159196
2000    0.155197
Name: rain, dtype: float64